src/KengMaterialManagement/WindowDesktopClient/Connected Services/KengServiceReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LibKengModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LibKengModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListStoreSupported">
    <xs:sequence>
      <xs:element minOccurs="0" name="StoreCategories" nillable="true" type="tns:ArrayOfStoreSupported" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListStoreSupported" nillable="true" type="tns:ListStoreSupported" />
  <xs:complexType name="ArrayOfStoreSupported">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreSupported" nillable="true" type="tns:StoreSupported" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoreSupported" nillable="true" type="tns:ArrayOfStoreSupported" />
  <xs:complexType name="StoreSupported">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreSupported" nillable="true" type="tns:StoreSupported" />
</xs:schema>